# Environment variables for running the application and executing the test suite during the container image build process.
#
# *** Don't store sensitive information here, use AWS SSM Parameter Store or Secrets Manager instead. ***
#
# Example:
#MYAPPVAR=value