# Environment variables for running the the application in production.
#
# *** Don't store sensitive information here, use AWS SSM Parameter Store or Secrets Manager instead. ***
#
# Example:
#MYAPPVAR=value